.sx__date-picker__month-view-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;

  .sx__chevron-wrapper {
    &:hover {
      background-color: var(--sx-color-surface-dim);
    }
  }
}

.sx__date-picker__month-view-header__month-year {
  font-size: 1.5rem;
  font-weight: 300;
}
