.demoPageWrapper {
  padding: 1rem;
}

.demoSubheading {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0 1rem;
}

.calendarDemoText {
  margin-bottom: 2rem;
}

.calendarDemoCode {
  margin-bottom: 2rem;
}
