@use 'mixins' as mixins;

.page-wrapper {
  max-width: 1000px;
  min-height: calc(100vh - var(--nextra-navbar-height) - 165px);
  margin: 0 auto;

  input {
    outline-offset: unset;
  }

  input:focus-visible {
    --tw-ring-offset-shadow: unset;
    --tw-ring-shadow: unset;
    --tw-ring-opacity: initial;
    --tw-ring-color: unset;
    --tw-ring-offset-width: unset;
    --tw-ring-offset-color: unset;

    box-shadow: unset;
    outline-offset: unset;
  }
}

.logo-lg {
  @include mixins.smaller-screens {
    display: none;
  }

  @include mixins.large-screens {
    display: block;
  }
}

.logo-sm {
  @include mixins.mobile-screens {
    display: block;
  }

  @include mixins.large-screens {
    display: none;
  }
}

.dark .logo-light {
  display: none;
}

.dark .logo-dark {
  display: block;
}

.light .logo-light {
  display: block;
}

.light .logo-dark {
  display: none;
}
